.header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #f5f5f5;
  gap: 10px;
}

.acoes {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.btn-outline {
  padding: 8px 16px;
  border: 1px solid #333;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.active-outline {
  background-color: #e02020;
  color: white;
  border-color: #e02020;
}

.btn-logout {
  padding: 8px 16px;
  background-color: #e02020;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.btn-logout:hover {
  background-color: #c01a1a;
}

.usuario-logado {
  color: #e02020;
  font-weight: bold;
  margin-inline-start: 10px;
}

.logo-img {
  block-size: 45px;
  object-fit: contain;
}

.logo {
  display: flex;
  align-items: center;
}

.span {
  font-size: 1.2em;
  font-weight: bold;
  color:#e02020;
}