:root {
  --primary: #e11d1d;
  --bg: #f3f4f6;
  --text: #111827;
  --border: #e5e7eb;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: var(--bg);
}

/* INPUT */
input {
  padding: 14px 16px;
  border-radius: 12px;
  border: 2px solid var(--border);
  background: #f9fafb;
  font-size: 14px;
  transition: all 0.2s ease;
}

input::placeholder {
  color: #9ca3af;
}

input:focus {
  border: 2px solid var(--primary);
  background: #fff;
  outline: none;
  box-shadow: 0 0 0 2px rgba(225, 29, 29, 0.15);
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  background: #f4f4f4;
  border-bottom: 1px solid #ddd;
}

/* LOGO */
.logo {
  background: var(--primary);
  color: #fff;
  padding: 8px 14px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
}

/* TÍTULO */
.titulo {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

/* AÇÕES */
.acoes {
  display: flex;
  gap: 10px;
}

/* BOTÕES BASE */
button {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 10px 16px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  border: none;
}

/* BOTÃO PRINCIPAL */
.btn-primary {
  background: var(--primary);
  color: white;
}

.btn-primary:hover {
  background: #b91c1c;
}

/* BOTÃO OUTLINE */
.btn-outline {
  background: white;
  color: var(--primary);
  border: 2px solid var(--primary);
}

.btn-outline:hover {
  background: var(--primary);
  color: white;
}

/* BOTÃO VERMELHO */
.btn-red {
  background: #ff3b3b;
  color: white;
}

.btn-red:hover {
  background: #dc2626;
}

/* HOVER GERAL */
button:hover {
  transform: scale(1.02);
}

/* ATIVOS */
.active {
  box-shadow: 0 0 0 2px rgba(224, 32, 32, 0.3);
}

.active-red {
  background: var(--primary) !important;
  color: white;
  box-shadow: 0 0 0 2px rgba(224, 32, 32, 0.3);
}

.active-outline {
  background: var(--primary);
  color: white;
}