.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
  background-color: #f5f5f5;
}

.login-card {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  inline-size: 350px;
  text-align: center;
}

.login-card h2 {
  margin-block-end: 20px;
}

.login-card input {
  inline-size: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn-login {
  inline-size: 100%;
  padding: 12px;
  scroll-margin-block-start: 12px;
  border: none;
  border-radius: 5px;
  background-color: #e02020;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.btn-login:hover {
  background-color: #c01b1b;
}

.erro {
  color: red;
  margin-block-end: 10px;
}

.btn-logout {
  padding: 8px 16px;
  background-color: #e02020; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px; 
  font-weight: bold;
}

.btn-logout:hover {
  background-color: #c01a1a; 
}

/* Botão de cadastrar */
.btn-register {
  margin-block-start: 10px;
  padding: 10px;
  inline-size: 100%;
  background-color: #e02020;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.btn-register:hover {
  background-color: #e02020;
}